{{- define "main" }}
<header class=post-header><h1 class=post-title>Error 404</h1></header>
<div class=post-content>
<h2 id=this-page-has-not-been-found>This page has not been found</h2>
<p>Please head <a href="{{ "" | absLangURL }}">safely back home</a> (don&rsquo;t forget your towel):
these are uncharted territories, dragons ahead!
</p>
</div>
</main>
{{- end }}{{/* end main */ -}}
